<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双向数据渲染</title>
</head>
<body>
<div id="app">
    <h1>{{message}}</h1>
    <!--
    1. v-bind是数据单向绑定：data数据池绑定的数据变化，会影响到view
    2.v-model="hobby.val" 是数据的双向渲染
        1) data数据池绑定的数据变化，会影响到view  【底层机制：Data Bindings】
        2) view关联的元素值变化，会影响到data数据池的数据  【底层机制：Dom Listeners】
    -->
    <input type="text" v-model="hobby.val"><br/>
    <input type="text" :value="hobby.val"><br/>
    <p>你输入的爱好是：{{hobby.val}}</p>
</div>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: "#app",
        data: {
            message: "武林至尊 宝刀屠龙 号令天下 莫敢不从 倚天不出 谁与争锋",
            hobby: {
                val: "购物",
            }
        }
    })
</script>
</body>
</html>